.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.main .entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .entry .profile .profile-img {
  vertical-align: middle;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.main .entry .info {
  width: 80%;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .entry .info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .entry .info .name .dot-typing {
  position: relative;
  left: -9999px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  color: gray;
  -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
          box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  -webkit-animation: dotTyping 2s infinite linear;
          animation: dotTyping 2s infinite linear;
}

.main .entry .info .file,
.main .entry .info .workspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .entry .info .file img,
.main .entry .info .workspace img {
  width: 1rem;
  height: 1rem;
}

.main .entry .info .file .codicon,
.main .entry .info .workspace .codicon {
  padding-right: 0.2rem;
  font-size: 12px;
}

@-webkit-keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
  16.667% {
    -webkit-box-shadow: 9984px -5px 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px -5px 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
  33.333% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
  50% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px -5px 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px -5px 0 0 gray, 10004px 0 0 0 gray;
  }
  66.667% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
  83.333% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px -5px 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px -5px 0 0 gray;
  }
  100% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
}

@keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
  16.667% {
    -webkit-box-shadow: 9984px -5px 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px -5px 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
  33.333% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
  50% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px -5px 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px -5px 0 0 gray, 10004px 0 0 0 gray;
  }
  66.667% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
  83.333% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px -5px 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px -5px 0 0 gray;
  }
  100% {
    -webkit-box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
            box-shadow: 9984px 0 0 0 gray, 9994px 0 0 0 gray, 10004px 0 0 0 gray;
  }
}
/*# sourceMappingURL=main.css.map */