$dot-color: gray;
$first-dot: 9976px;
$second-dot: 9986px;
$third-dot: 9996px;

body {
  padding: 0 0 0 10px;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;

  .entry {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .profile {
      min-width: 50px;
      .profile-img {
        vertical-align: middle;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .info {
      width: unquote("calc(100% - 50px - 0.5rem)");
      position: relative;
      padding-left: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .dot-typing {
          position: relative;
          left: -9999px;
          top: 0px;
          width: 6px;
          height: 6px;
          border-radius: 5px;
          color: $dot-color;
          box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
            $third-dot 0 0 0 $dot-color;
          animation: dotTyping 2s infinite linear;
        }

        .timestamp {
          padding-right: 5px;
        }

        .username:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .custom-status {
        font-size: x-small;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 0.3rem;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .file,
      .workspace {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 1rem;
          height: 1rem;
        }

        .codicon {
          padding-right: 0.2rem;
          font-size: 12px;
        }

        span {
          display: block;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Shout out to Zongbin https://codepen.io/nzbin/pen/GGrXbp
@keyframes dotTyping {
  0% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  16.667% {
    box-shadow: $first-dot -5px 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  33.333% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  50% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot -5px 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  66.667% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  83.333% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot -5px 0 0 $dot-color;
  }
  100% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
}
