html {
  height: 100%;
}

footer {
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
  background-color: var(--vscode-sideBar-background);
  -webkit-box-shadow: 0 -2px 5px var(--vscode-sideBar-background);
          box-shadow: 0 -2px 5px var(--vscode-sideBar-background);
  left: 0px;
  bottom: 0px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: smaller;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div i {
  padding-right: 0.2rem;
}

footer div a {
  color: var(--vscode-editor-foreground);
}

body {
  padding: 0 0 0 10px;
  overflow-x: hidden;
  height: 100%;
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  color: var(--vscode-foreground);
}

body.vscode-high-contrast button {
  border: 1px solid var(--vscode-contrastBorder) !important;
}

body.vscode-high-contrast .footer {
  border-right: 1px solid var(--vscode-contrastBorder) !important;
}

body.vscode-high-contrast .entry {
  border-bottom: 1px solid var(--vscode-contrastBorder) !important;
}

button {
  width: 80%;
  height: 2rem;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  border: none;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
  cursor: pointer;
}

button:focus {
  outline: var(--vscode-focusBorder);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.main .entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--vscode-editor-background);
}

.main .entry.last-entry {
  padding-bottom: 3rem;
  border-bottom: none;
}

.main .entry .profile {
  min-width: 50px;
}

.main .entry .profile .profile-img {
  vertical-align: middle;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.main .entry .info {
  width: calc(100% - 50px - 0.5rem);
  position: relative;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .entry .info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .entry .info .name .dot-typing {
  position: relative;
  left: -9999px;
  top: 0px;
  min-width: 6px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  color: gray;
  -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
          box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  -webkit-animation: dotTyping 2s infinite linear;
          animation: dotTyping 2s infinite linear;
}

.main .entry .info .name .timestamp {
  padding-right: 5px;
}

.main .entry .info .name .timestamp:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main .entry .info .name .username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.5rem;
}

.main .entry .info .name .username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main .entry .info .custom-status {
  font-size: x-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.3rem;
}

.main .entry .info .custom-status:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main .entry .info .file,
.main .entry .info .workspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .entry .info .file img,
.main .entry .info .workspace img {
  width: 16px;
  height: 16px;
  padding-right: 0.2rem;
}

.main .entry .info .file .codicon,
.main .entry .info .workspace .codicon {
  padding-right: 0.2rem;
  font-size: 16px;
}

.main .entry .info .file span,
.main .entry .info .workspace span {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main .entry .info .file span:hover,
.main .entry .info .workspace span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.auth .auth-text {
  width: 100%;
  padding-bottom: 1rem;
}

.no-statuses {
  text-align: center;
}

@-webkit-keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
  16.667% {
    -webkit-box-shadow: 9976px -5px 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px -5px 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
  33.333% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
  50% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px -5px 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px -5px 0 0 gray, 9996px 0 0 0 gray;
  }
  66.667% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
  83.333% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px -5px 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px -5px 0 0 gray;
  }
  100% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
}

@keyframes dotTyping {
  0% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
  16.667% {
    -webkit-box-shadow: 9976px -5px 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px -5px 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
  33.333% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
  50% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px -5px 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px -5px 0 0 gray, 9996px 0 0 0 gray;
  }
  66.667% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
  83.333% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px -5px 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px -5px 0 0 gray;
  }
  100% {
    -webkit-box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
            box-shadow: 9976px 0 0 0 gray, 9986px 0 0 0 gray, 9996px 0 0 0 gray;
  }
}
/*# sourceMappingURL=main.css.map */