$dot-color: gray;
$first-dot: 9976px;
$second-dot: 9986px;
$third-dot: 9996px;

html {
  height: 100%;
}

footer {
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
  background-color: var(--vscode-sideBar-background);
  box-shadow: 0 -2px 5px var(--vscode-sideBar-background);
  left: 0px;
  bottom: 0px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: smaller;
    align-items: center;

    i {
      padding-right: 0.2rem;
    }

    a {
      color: var(--vscode-editor-foreground);
    }
  }
}

body {
  padding: 0 0 0 10px;
  overflow-x: hidden;
  height: 100%;
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  color: var(--vscode-foreground);
}

body.vscode-high-contrast {
  button {
    border: 1px solid var(--vscode-contrastBorder) !important;
  }

  .footer {
    border-right: 1px solid var(--vscode-contrastBorder) !important;
  }
}

button {
  width: 80%;
  height: 2rem;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  border: none;

  &:hover {
    background-color: var(--vscode-button-hoverBackground);
    cursor: pointer;
  }

  &:focus {
    outline: var(--vscode-focusBorder);
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;

  .entry {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--vscode-editor-background);

    &.last-entry {
      padding-bottom: 3rem;
      border-bottom: none;
    }

    .profile {
      min-width: 50px;
      .profile-img {
        vertical-align: middle;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .info {
      width: unquote("calc(100% - 50px - 0.5rem)");
      position: relative;
      padding-left: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .dot-typing {
          position: relative;
          left: -9999px;
          top: 0px;
          min-width: 6px;
          width: 6px;
          height: 6px;
          border-radius: 5px;
          color: $dot-color;
          box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
            $third-dot 0 0 0 $dot-color;
          animation: dotTyping 2s infinite linear;
        }

        .timestamp {
          padding-right: 5px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .username {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 0.5rem;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .custom-status {
        font-size: x-small;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 0.3rem;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .file,
      .workspace {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 16px;
          height: 16px;
          padding-right: 0.2rem;
        }

        .codicon {
          padding-right: 0.2rem;
          font-size: 16px;
        }

        span {
          display: block;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  .auth-text {
    width: 100%;
    padding-bottom: 1rem;
  }
}

.no-statuses {
  text-align: center;
}

// Shout out to Zongbin https://codepen.io/nzbin/pen/GGrXbp
@keyframes dotTyping {
  0% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  16.667% {
    box-shadow: $first-dot -5px 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  33.333% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  50% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot -5px 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  66.667% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
  83.333% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot -5px 0 0 $dot-color;
  }
  100% {
    box-shadow: $first-dot 0 0 0 $dot-color, $second-dot 0 0 0 $dot-color,
      $third-dot 0 0 0 $dot-color;
  }
}
